
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead","AdminLayout","Admin")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @Html.Action("PartialNavbar", "AdminLayout", "Admin")

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">

            <!-- partial:../../partials/_sidebar.html -->
            @Html.Action("PartialSidebar", "AdminLayout", "Admin")

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        @RenderBody()
           
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Tüm Hakları Saklıdır. @DateTime.Now.Year</span>
                       
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    @Html.Action("PartialScript", "AdminLayout", "Admin")

</body>

</html>
